<nav class="navbar">
    <div class="logo">STARPATH</div>

    <ul class="nav-links">
        <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
        <li><a routerLink="/news" routerLinkActive="active">Noticias</a></li>
        <li><a routerLink="/download" routerLinkActive="active">Descargas</a></li>
        <li><a routerLink="/download" routerLinkActive="active">Contacto</a></li>
        <li><a routerLink="/juego" routerLinkActive="active">Prueba el juego</a></li>
    </ul>

    <div class="auth-buttons">
        <button class="pixel-button" routerLink="/login">Iniciar sesión</button>
        <button class="pixel-button" routerLink="/register">Registrarse</button>
    </div>

