<div class="auth-container">
  <div class="auth-card">
    <h2>Actualizar contraseña</h2>

    @if (errores.length > 0) {
      @for (error of errores; track error) {
        <div class="alert error">{{ error }}</div>
      }
    }

    @if (successMessage) {
      <div class="alert success">{{ successMessage }}</div>
    }

    <form (ngSubmit)="updatePassword()">
      <div class="form-group">
        <label for="newPassword">Nueva Contraseña</label>
        <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" placeholder="Escribe tu nueva contraseña" required>
      </div>

      <button type="submit" class="btn-submit">Actualizar</button>
    </form>

  </div>
</div>
