<nav class="navbar">
    <div class="logo">
        <a routerLink="/" class="logo-link">STARPATH</a>
    </div>

    <ul class="nav-links">
        <li><a routerLink="/feature" routerLinkActive="active">Características</a></li>
        <li><a routerLink="/news" routerLinkActive="active">Noticias</a></li>
        <li><a routerLink="/how-to-play" routerLinkActive="active">Cómo jugar</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contacto</a></li> <li><a routerLink="/download" routerLinkActive="active">Descargas</a></li>
        <li><a routerLink="/game" routerLinkActive="active">Probar el juego</a></li>
        <li><a routerLink="/faq" routerLinkActive="active">FAQ</a></li>
    </ul>

    <div class="auth-buttons">
        <button class="btn-login" routerLink="/login">Iniciar sesión</button>
        
        <button class="btn-register" routerLink="/register">Registrarse</button>
    </div>
</nav>

